@use '../../scss/default' as *;

.test {
    max-width: 50rem;
    height: 20rem;
    background-color: green;
    container: test / size;

    .test-child {
        width: 50cqw;
        height: 100cqh;
        background-color: red;
    }

    @include container(test, 'm') {
        .test-child {
            background-color: blue;
        }
    
    }
}


// @container test (min-width: 20rem) {
//     .test-child {
//         background-color: blue;
//     }
// }