@use '../../scss/default' as *;

.landing__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40rem;
    // background: var(--primary);
    padding: 5rem 1rem 0 1rem;
    color: var(--light);
    container: landing-container / inline-size;

    @include desktop {
        background: red;
    }

    @include container('landing-container', 'l') {
        background: blue;
    }

    @container landing-container (max-width: 640px) {
        background: green;
    }

    .landing__content {
        position: relative;
        width: 100%;
        
        h1 {
            font-size: 24cqw;
            line-height: normal;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
        }
        
        h2 {
            font-size: 1rem;
            font-weight: 400;
            width: 36cqw;
            padding-top: 28cqw;
        }
    }

    .landing__media {
        width: 20rem;
        height: 20rem;
        position: absolute;
        top: 34cqw;
        right: 0;

        img {
            position: absolute;
        }

        .landing__media__dog-body {
            z-index: 1;
        }

        .landing__media__dog-tail {
            width: 5rem;
            height: 8rem;
            top: 0;
            right: 0;
        }
    }
}
