nav {
  background: var(--primary);
  position: fixed;
  width: 100dvw;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

nav > ul {
  display: flex;
  justify-content: end;
  gap: 2.5rem;
  list-style: none;
  width: clamp(320px, calc(100% - 4rem), 50rem);
}

nav > ul > li:first-of-type {
  flex: 1;
}

nav > ul > li > a {
  color: var(--secondary);
  text-decoration: none;
  font-weight: 400;

  &:hover {
    color: var(--accent);
  }
}
