.nav {
  background: var(--primary);
  padding: 1rem;
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: end;
    align-self: end;
    gap: 1rem;
    background: red;
    list-style: none;
    width: 50%;

    li a {
      color: var(--light);
      text-decoration: none;
    }
  }

  &__menu {
    width: 1.5rem;
    height: 1.5rem;
    background: url(../../assets/etc/bars.svg) no-repeat center;
    border: none;
  }
}