:root {
  --light: #ffffff;
  --dark: #000000;

  --primary: #142E26;
  --secondary: #F7F2EE;
  --accent: #0FDBB8;
  --accent-2: #097C68;
  --accent-3: #C9BFB6;
  --color-background: var(--secondary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("./fonts/merriweather/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open sans";
  src: url("./fonts/opensans/OpenSans-VariableFont.ttf") format("truetype variations");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Open sans";
  src: url("./fonts/opensans/OpenSans-Italic-VariableFont.ttf") format("truetype variations");
  font-weight: 100 900;
  font-style: italic;
}

body {
  min-height: 100vh;
  color: var(--primary);
  background: var(--color-background);
  line-height: 180%;
  font-family: Opensans, sans-serif;
  font-size: 16px;
}

img {
  width: 100%;
}

h1, h2 {
  font-family: "Merriweather", serif;
  font-weight: bold;
}

h3, h4, h4 {
  font-family: "Open sans", sans-serif;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}